
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

@mixin font-header {
    font-family: 'Playwrite PE', cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}





$width-tablet: 768px;
$width-desktop: 1024px;

$color-background-nav: #333;
$color-background-1: #FFE2A8;
$color-background-2: #FFBB9C;
$color-background-3: #DE8FAB;
$color-background-4: #A48CBA;
$color-background-5: #7D82A9;


$nav-height: 60px;



// Hover? Cursor now points.
@mixin hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

// If you've seen my previous scraps and how I set up all my previous static sites, you'll recognize this.
@mixin content-strip {
    width: min(90vw, $width-desktop);
    width: min(90dvw, $width-desktop);
    margin-inline: auto;
}

// Super Cool Ticket Shape
@mixin ticket-shape($corner-radius: 25px) {
    mask-image: 
        radial-gradient(circle at 0 0, transparent $corner-radius, black $corner-radius),
        radial-gradient(circle at 100% 0, transparent $corner-radius, black $corner-radius),
        radial-gradient(circle at 100% 100%, transparent $corner-radius, black $corner-radius),
        radial-gradient(circle at 0 100%, transparent $corner-radius, black $corner-radius);
    mask-composite: intersect;
}