#about .content-strip {
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    h2 {
        @include font-header;
    }
}

.list-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    div {
        background-color: $color-text-1;
        color: $color-background-2;
        padding: 10px;
        flex: 1;
        @include ticket-shape();

        h3, ul {
            text-align: center;
        }

        ul li {
            list-style-type: none;
        }
    }
}