#about {
    border: solid 1px maroon;
}

.list-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    div {
        border: solid 1px maroon;
        padding: 10px;
        flex: 1;

        h3, ul {
            text-align: center;
        }

        ul li {
            list-style-type: none;
        }
    }
}