

#main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;

    div {
        text-align: center;
        padding: 1rem;

        h1 {
            @include font-header;
            line-height: 1.3em;
            padding: 0.25em 0 0.5em;
        }

    }

    img {
        
        background-color: white;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none;     /* IE 10 and Edge */
        user-select: none;         /* Standard syntax */
        
        /* Prevents the ghost image when dragging */
        -webkit-user-drag: none;
        // user-drag: none; // (Unavailable rn)
    }

    @media screen and (min-width: $width-tablet) {
        flex-direction: row;

        div {
            flex: 1;
            text-align: right;

            width: min(90vw, calc($width-desktop/2));
            width: min(90dvw, calc($width-desktop/2));
            margin-left: auto;
            padding: 0 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        img {
            flex: 1;
            aspect-ratio: 1 / 1;
            max-width: 100%;
            height: auto;
        }

    }
}