

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: $color-background-nav;
}

.content-strip {
    @include content-strip;
}

#main {
    background-color: $color-background-1;
    margin-top: $nav-height;
}
#about {
    background-color: $color-background-2;
}
#experience {
    background-color: $color-background-3;
}
#projects {
    background-color: $color-background-4;
}
#contact {
    background-color: $color-background-5;
}