

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: $color-background-nav;
}

p, li {
    @include font-body;
}

button {
    @include hover-pointer;
    border: none;
}

.content-strip {
    @include content-strip;
}

#main {
    background-color: $color-background-1;
    margin-top: 0;
    @media screen and (min-width: $width-tablet) {
        margin-top: $nav-height;
    }
}
#about {
    background-color: $color-background-2;
}
#experience {
    background-color: $color-background-3;
}
#projects {
    background-color: $color-background-4;
}
#contact {
    background-color: $color-background-5;
}

#main, #about, #experience, #projects, #contact {
    scroll-margin-top: $nav-height;
    @media screen and (max-width: $width-tablet) {
        scroll-margin-top: 0;
    }
    color: $color-text-1;
}

.divider-5,
.divider-4,
.divider-3,
.divider-2 {
    width: 100vw;
    width: 100dvw;
    margin-bottom: -5px;
    margin-top: -2rem;
}

.divider-5 {
    color: $color-background-5;
    background-color: $color-background-4;
}
.divider-4 {
    color: $color-background-4;
    background-color: $color-background-3;
}
.divider-3 {
    color: $color-background-3;
    background-color: $color-background-2;
}
.divider-2 {
    color: $color-background-2;
    background-color: $color-background-1;
}



.visible-desktop {
    display: block;
    @media screen and (max-width: $width-tablet) {
        display: none;
    }
}
.visible-mobile {
    display: none;
    @media screen and (max-width: $width-tablet) {
        display: block;
    }
}