#projects .content-strip {
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        @include font-header;
    }

    .most-recent {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: $width-tablet) {
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;
        }
        
        button {
            flex: 1;
            aspect-ratio: 16 / 9;
            @include ticket-shape(12.25px, 12.25px);
            background-color: white;
            @media screen and (min-width: $width-tablet) {
                aspect-ratio: 1 / 1;
            }
            @include hover-pointer;
        }

        &.open {
            display: flex;
        }
        &.closed {
            display: none;
        }
    }

    .all-projects-container-outer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .all-projects-container-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        @include ticket-shape;
        background-color: white;

        &.open {
            display: flex;
        }
        &.closed {
            display: none;
        }
    }
    
    
    
    .sort-controls {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    

        label {
            padding: 5px 0;
        }
        select {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            color: limegreen;
            aspect-ratio: 1 / 1;
        }
    }
    
    .all-projects {
        display: grid;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: $width-tablet) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    
        button {
            position: relative;
            aspect-ratio: 16 / 9;
            @media screen and (min-width: $width-tablet) {
                aspect-ratio: 1 / 1;
            }
            @include ticket-shape(12.25px, 12.25px);
            background-color: $color-background-4;
        }
    }
    
    .project-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    .show-all-button {
        color: limegreen;
        align-self: center;
        padding: 10px 20px;
        position: sticky;
        bottom: 20px;
        top: 20px;
        @include hover-pointer;
    }
}
